#receivedCalCal {
    font-family: 'Athiti', sans-serif;
    text-align: center;
    color: white;
    font-size: 60px;
    padding: 2% 2% 2% 2%;
    margin-bottom: 0%;
    background-color: black;
}

#backmenuC{
    font-family: 'Athiti', sans-serif;
    margin-right: 5%;
    padding: 2% 2% 2% 2%;
    font-size: 30px;
    color: white;
    border: 0px!important;
    display: inline-flex;
    justify-content: center;
}

#backcal2 {
    font-family: 'Athiti', sans-serif;
    padding: 3%;
    margin-top: 0%;
    margin-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.65);
}

#backcal {
    background-image: url(../images/wall.jpg);
    background-attachment: fixed;
    background-size: auto;
}


table {
    text-align: center;
    font-family: 'Athiti', sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #f2f2f2;

  }
  
  th, td {
    text-align: center;
    padding: 8px;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.6);
      color: #000000!important;
    }

.add-btn{
    font-family: 'Athiti', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    border: 0px;
    padding: 0% 3% 0% 3%;
    background-color: rgb(18, 44, 119);
}
.add-btn:hover{
    background-color: rgb(91, 118, 197);
}

#del-btn{
    margin-top: 2%;
    font-family: 'Athiti', sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
    border: 0px;
    padding: 1% 5% 1% 5%;
    background-color: orangered;
}

#del-btn:hover{
    background-color: coral;
}
#backcal3{
    padding: 3%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5%;
}

.finish-btn {
    margin-top: 0%;
    font-family: 'Athiti', sans-serif;
    display: inline-flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    border: 0px;
    padding: 2% 2% 2% 2%;
    background-color: #717c0b;
}

a:hover.finish-btn {
    text-decoration: none!important;
    background-color: #94a743;
    color: white!important;
}