#backhelp {
    /* background-image: url(../images/wall.jpg);
    background-attachment: fixed;
    background-size: auto; */
    background-color: #FCF4EB;
    /* thai font */
    font-family: 'Athiti', sans-serif;
}